<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/linelight?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    <mapping resource="pe/edu/pucp/linelight/model/Configuracionsistema.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Vehiculoxnodo.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Horario.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Viaxhorario.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Perfil.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Ejecucionalgoritmo.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Accion.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Tramo.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Distrito.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Tipovia.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Zona.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Incidencia.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Tramoxincidencia.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Distritoxhorario.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Usuario.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Semaforo.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Menu.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Ejecucionalgoritmoxcuadraxnodo.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Nodo.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Via.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Tramoxnodo.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Vehiculo.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Usuarioxaccion.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Ejecucionalgoritmoxsemaforo.hbm.xml"/>
    <mapping resource="pe/edu/pucp/linelight/model/Paramalgoritmo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
